.shows {
  float: right;
  background-color: pink;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}

.instruments {
  float: left;
  width: 300px;
  max-height: 200px;
  padding: 5px;
  /* border: 10px solid black; */

}

.member_box {
  padding: 10px;
  clear: both;
  border: 10px solid black;
  margin: 10px;
}

.clear {
  clear: both;
  column-span:
}
